extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Jacob H. Gorodn

        p.lead.text-light
          |Software Developer.

        .portfolio-bio
          p
            | I am a passionate Software Developer, willing to tackle probelms head on, and who  
            | enjoys challenges, others deem impossible. 
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li Express
          li JavaScript
          li HTML
          li Pug

        h6 Contact Info

        ul
          li jteam3@comcast.net

        a.button.expanded(href='https://github.com/JHG777000') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  